<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\eitan\source\repos\Login\Login.Server\AppData\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="SMTPServer" value="smtp.gmail.com" />
		<add key="SMTPPort" value="587" />
		<add key="SenderAddress" value="bootlegservices4u@gmail.com" />
		<add key="SenderPassword" value="jcil cryp swjp aefu" />
		<add key="EnableSSL" value="true" />
	</appSettings>
</configuration>